{% load static %}
<div class="testimonial">
        <div class="small-container">
            <div class="row">
                {% for q in admin %}
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>{{q.name}} {{q.surname}} is one the founders of Duken.
                        We offer you quality books
                    </p>
                    <img src="{%  static 'img/user-2.png' %}">
                    <h3>{{q.name}} {{q.surname}}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>