{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Home</title>
</head>
<body>
    <div class="header">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
   
<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="http://localhost:8000/home" class="shop">Duken</a>
        </div>
        <nav>
            <ul id="MenuItems">
               <form class="d-flex" id="header" action="/search_books" style="width: auto; height: auto; display: flex; justify-content: space-between; align-items: center; padding: 10px 40px; background: var(--header-bg); color: var(--header-color); overflow: hidden;">
                   <input class="form-control me-2" type="text" placeholder="Search"id="search" name="name" style="margin-right: 20px">

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Category
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'category' 'FT' %}">Fantasy</a></li>
        <li><a class="dropdown-item" href="{% url 'category' 'DC' %}">Detective</a></li>
        <li><a class="dropdown-item" href="{% url 'category' 'PL' %}">Politics</a></li>
        <li><a class="dropdown-item" href="{% url 'category' 'NV' %}">Novel</a></li>
        <li><a class="dropdown-item" href="{% url 'category' 'AU' %}">Autobiography</a></li>
        <li><a class="dropdown-item" href="{% url 'category' 'PR' %}">Poetry</a></li>
        <li><a class="dropdown-item" href="{% url 'category' 'BU' %}">Business</a></li>
        <li><a class="dropdown-item" href="{% url 'category' 'MD' %}">Ice-Medicine</a></li>
    </ul>
</li>




              <li><a href="http://localhost:8000/products">Products</a></li>
              <li><a href="http://localhost:8000/account">Account</a></li>
              <li><a href="http://localhost:8000/AdminUser">Admins</a></li>
              <li><a href="http://localhost:8000/support">Support</a></li>
              <li><a href="http://localhost:8000/wikipedia">Wikipedia</a></li>
              <li><a href="http://localhost:8000/sendemail">Feedback</a></li>
              {% if user.is_authenticated %}
                <li><a href="/profile1">{{ user.username }}</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
              {% else %}
                <li><a href="{% url 'customerregistration' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
              {% endif %}

            </ul>
        </nav>
       <a href="http://localhost:8000/cart"> <img src="{%  static 'img/cart.png' %}" width="30px" height="30px"> </a>
       <img src="{% static 'img/menu.png'%}" class="menu-icon" onclick="menutoggle()">
    </div>
    <div class="row">
        <div class="col-2">
            <h1>Әдет күші <br>Жақсы әдет қалыптастыру, жаман әдеттен арылу</h1>
            <p> Автор: Мирас Кесебаев<br>Сериясы: Психология, Тұлғалық даму, Әр түрлі, Жаңа кітаптар</p>
            <a href="http://localhost:8000/products" class="btn">View right now &#8594;</a>
        </div>
        <div class="col-2">
            <img src="{%  static 'img/adetkushi.jpg' %}" width="400px" style="margin-left: 150px;">
        </div>
    </div>
</div>
</div>

<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="{%  static 'img/rizyq.jpg' %}">
            </div>
            <div class="col-3">
                <img src="{%  static 'img/imanigul.jpg' %}">
            </div>
            <div class="col-3">
                <img src="{%  static 'img/jubailar.jpg' %}">
            </div>
        </div>
    </div>
  
</div>
<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        {% for q in products %}
        {% if q.id < 5 %}
        <div class="col-4">
               <a href="http://localhost:8000/details/{{q.id}}"> <img src="{{ q.foto }}"> </a>
               <a href="http://localhost:8000/details/{{q.id}}"> <h4>{{ q.name }}</h4> </a>
                <div class="rating">
                    {% if 5 == q.star%}
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    {% elif 4 == q.star %}
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    {% elif 3 == q.star %}
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    {% elif 2 == q.star %}
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    {% elif 1 == q.star %}
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    {% elif 0 == q.star %}
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    {% endif %}
                </div>
                <div class="katar">
                    <p class="valu">$</p><p class="cost">{{ q.price }}</p>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>
    <h2 class="title">Latest Products</h2>
    <div class="row">
        {% for q in products %}
        <div class="col-4">
               <a href="http://localhost:8000/details/{{q.id}}"> <img src="{{ q.foto }}"> </a>
               <a href="http://localhost:8000/details/{{q.id}}"> <h4>{{ q.name }}</h4> </a>
                <div class="rating">
                    {% if 5 == q.star %}
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    {% elif 4 == q.star %}
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    {% elif 3 == q.star %}
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    {% elif 2 == q.star %}
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    {% elif 1 == q.star %}
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    {% elif 0 == q.star %}
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    {% endif %}
                </div>
                <div class="katar">
                    <p class="valu">$</p><p class="cost">{{ q.price }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>





    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="{%  static 'img/quran.jpg' %}" class="offer-img" width="400px">
                </div>
                <div class="col-2">
                    <p>Exclusive Available on only Duken</p>
                    <h1>Құран Кәрім</h1>
                    <small>Аяттың әр сөзінің астында қазақша аудармасы берілген. Құран оқушыларға ыңғайлы арабша қаріп таңдалды.
                        Кітаптың екі жағында барлық аяттың қазақша түсіндірмелі аудармасы бар. Аяттардың арабша мәтінін және олардың қазақша,
                        орысша аудармасын тыңдауға мүмкіндік беретін QR-код қолданылды. Өзіңіз қалаған беттегі аяттың мәтінін тыңдауға болады.
                        Сол арқылы Құранды түсініп оқып, тәжуидті пысықтап аласыз.
                    </small>
                    <br>
                    <a href="http://localhost:8000/products" class="btn">Buy Now &#8594;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="{%  static 'img/logo-marwin.jpg' %}">
                </div>
                <div class="col-5">
                    <img src="{%  static 'img/logo-alser.png' %}">
                </div>
                <div class="col-5">
                    <img src="{%  static 'img/logo-technodom.png' %}">
                </div>
                <div class="col-5">
                    <img src="{%  static 'img/logo-kaspi.png' %}">
                </div>
                <div class="col-5">
                    <img src="{%  static 'img/logo-kitapal.jpg' %}">
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social_icon">
            <li><a href=""><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href=""><ion-icon name="logo-tiktok"></ion-icon></a></li>
            <li><a href=""><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href=""><ion-icon name="logo-twitter"></ion-icon></a></li>
            <li><a href=""><ion-icon name="logo-github"></ion-icon></a></li>
        </ul>
        <ul class="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/products/">Products</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/support">About</a></li>
            <li><a href="/cart">Cart</a></li>
        </ul>
        <p>We are celling this site | All Rights Reserved</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</body>
</html>