{% load static %}
{% load poll_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Details</title>
</head>
<body>
   
    <link rel="preconnect" href="https://fonts.googleapis.com">

<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="http://localhost:8000/home"  class="shop">Duken</a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="http://localhost:8000/home">Home</a></li>
              <li><a href="http://localhost:8000/products">Products</a></li>
              <li><a href="http://localhost:8000/account">Account</a></li>
              <li><a href="http://localhost:8000/admins/arystanov">Admins</a></li>
              <li><a href="http://localhost:8000/support">Support</a></li>
                <button type="button" id="login" style="margin-right: 20px; color: #555; border: 0; background-color: #ffffff; font-size: 18px;"><a href="#" class="nav-link text-white">{{ user.username }}</a></button>

            </ul>
        </nav>
       <a href="http://localhost:8000/cart"> <img src="{%  static 'img/cart.png' %}" width="30px" height="30px"> </a>
        <img src="{%  static 'img/menu.png' %}" class="menu-icon" onclick="menutoggle()">
    </div>
   
</div>

{% for q in data %}
<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="{{q.foto1}}" width="100%" id="ProductImg" style="margin-left: -100px">
            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="{{q.foto1}}" width="100%" id="SmallImg" style="margin-left: -100px">
                </div>
                <div class="small-img-col">
                    <img src="{{q.foto2}}" width="100%" id="SmallImg" style="margin-left: -100px">
                </div>
                <div class="small-img-col">
                    <img src="{{q.foto3}}" width="100%" id="SmallImg" style="margin-left: -100px">
                </div>
                <div class="small-img-col">
                    <img src="{{q.foto4}}" width="100%" id="SmallImg" style="margin-left: -100px">
                </div>
            </div>
        </div>
        <div class="col-2">
            <p>Home / Details </p>
            <h1>{{q.name}}</h1>
            <div class="katar">
                <h4>$</h4><h4 id='price'>{{q.price}}</h4>
            </div>
            
            <select>
                <option>Select language</option>
                <option>Kazakh</option>
                <option>Russian</option>
                <option>English</option>
                <option>Turkish</option>
            </select>
            <form method="post" action="/car/">
                <input type="text" name="foto" value="{{q.foto1}}" style="font-size: 0px; width: 0px; height: 0px;">
                <input type="number" name="pr_id" value="{{q.id}}" style="font-size: 0px; width: 0px; height: 0px;">
                <input type="text" name="name" value="{{q.name}}" style="font-size: 0px; width: 0px; height: 0px;">
                <input type="number" name="price" value="{{q.price}}" style="font-size: 0px; width: 0px; height: 0px;"><p> </p>
                <input type="number" value="1" id='amount' name="quantity">
                <button type="submit" style="border: 0; background-color: #ffffff"><a class="btn">Add To Cart</a></button>
                <br><br>
            </form>

            <h3>Product Details <i class="fa fa-indent"></i> </h3>
            <br>
            <p>{{q.details}}

            </p>
        </div>
    </div>
</div>


<div class="small-container">
    <div class="row row-3">
        <h2>Comments</h2>
    </div>
</div>
{% for e in com %}
{% if e.to_id == q.id %}
<div class="small-container">
    <div class="row-row-2">
        <p> </p>
        <p class="com-name">{{e.name}}</p>
        <p>{{e.comment}}</p>
        <a href="/delete/{{e.id}}"><button class="tes">Delete</button></a>
        <a href="/edit/{{e.id}}"><button class="tes">Edit</button></a>
        <hr>
        <p></p>
    </div>
</div>
{% endif %}
{% endfor %}
    {% endfor %}
<div class="small-container">
    <div class="bor">
        <div class="row-row-2">
            <form method="post" action="/comm/">
                {% for q in c %}
                <input type="number" name="to_id", value="{{q.id}}" class="zer">
                {% endfor %}

                <p></p>
                <p>Your name is</p>
                <input type="text" name="name">
                <p>Your comment</p>
                <input type="text" name="comment" style="height: 140px">
                <button type="submit">Comment</button>
            </form>
        </div>
    </div>
</div>


<div class="small-container">
    <div class="row row-2">
        <h2>Related Products</h2>
        <p>View More</p>
    </div>
</div>


{% getproducts as pol %}
<div class="small-container">    
    
    <div class="row">
        {% for q in pol %}
        {% if q.id < 5%}
        <div class="col-4">
               <a href="http://localhost:8000/details/{{q.id}}"> <img src="{{ q.foto }}"> </a>
               <a href="http://localhost:8000/details/{{q.id}}"> <h4>{{ q.name }}</h4> </a>
                <div class="rating">
                    {% if 5 == q.star%}
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    {% elif 4 == q.star %}
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    {% elif 3 == q.star %}
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    {% elif 2 == q.star %}
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    {% elif 1 == q.star %}
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    {% elif 0 == q.star %}
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    {% endif %}
                </div>
                <div class="katar">
                    <p class="valu">$</p><p class="cost">{{ q.price }}</p>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>   
   

</div>
<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <ul class="social_icon">
        <li><a href=""><ion-icon name="logo-facebook"></ion-icon></a></li>
        <li><a href=""><ion-icon name="logo-tiktok"></ion-icon></a></li>
        <li><a href=""><ion-icon name="logo-instagram"></ion-icon></a></li>
        <li><a href=""><ion-icon name="logo-twitter"></ion-icon></a></li>
        <li><a href=""><ion-icon name="logo-github"></ion-icon></a></li>
    </ul>
    <ul class="menu">
        <li><a href="/home">Home</a></li>
        <li><a href="/products/">Products</a></li>
        <li><a href="/account">Account</a></li>
        <li><a href="/support">About</a></li>
        <li><a href="/cart">Cart</a></li>
    </ul>
    <p>We are celling this site | All Rights Reserved</p>
</footer>

    <script> 
        var ProductImg = document.getElementById("ProductImg");
        var SamllImg = document.getElementById("SmallImg");
        var price = document.getElementById("price");
        var amount = document.getElementById("amount");
        SmallImg[0].onclick = function(){
            ProductImg.src = SmallImg[0].src;
        }
        SmallImg[1].onclick = function(){
            ProductImg.src = SmallImg[1].src;
        }
        SmallImg[2].onclick = function(){
            ProductImg.src = SmallImg[2].src;
        }
        SmallImg[3].onclick = function(){
            ProductImg.src = SmallImg[3].src;
        }
        function pri() {
            price.innerHTML = 750*amount.value;
        }
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>




</body>
</html>