<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/wiki.css">
    <title>Wikipedia</title>
</head>
<body>
    <img src="../static/img/wikipedia.jpg" alt="" class="wikipedia">
    <h1>Wikipedia Search</h1>
    <div class="search-container">
    <form method="post">
        {% csrf_token %}
        <input type="text" name="search" class="search-input" placeholder="Search Wikipedia">
        <button type="submit" class="search-button">Search</button>
    </form>
    </div>
    <div class="result">
    {% if result %}
        {{result}}
    {% endif %}
    </div>
</body>
</html>